.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

/* nav bar */
.ant-layout-header{
  color: #FFFFFF !important;
  background: #FFFFFF !important
}

/* search bar */
.ant-input-affix-wrapper, .ant-input{
  background-color: #F4F5F8 !important;
}

/* modal style */
.css-1acyv19{
  border-radius: 12px;
}

/* Multipal select component */
.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}


/* multipal selector */
.ant-select-item-option-content{
    z-index: 10560 !important;
 
}